<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
    {% for item in all %}
    <p>{{item.id}}</p>
    <p>{{item.recipent}}</p>
    <p>{{item.title}}</p>
    <p>{{item.message}}</p>
    <a href="/delete_event/{{item.id}}">delete</a>
    {% endfor %}
    </div>
    <br>
</body>
</html>